@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap");

html {
  font-family: 'Literata', Georgia, 'Times New Roman', Times, Roman, serif;  font-size: 1.111111em; /*20 /18 = 1*/
  background: #85a3e0;
  line-height: 1.55555em; /*28 /18 =1.55555em */
  padding: 1.55555em; /*28 /18 =1.55555em */
  font-size: 1.125em;
}

h1 {
  font-size: 1.666667em; /*30 /18 =1.666667em */
  padding-bottom: 1.333333em; /*24 /18 =1.333333 */
  text-align: center;
  font-weight: bold;
}

form {
  margin: 1em;
  width: 1%;
}

footer {
  position: absolute;
  bottom: 0;
  height: 2.5rem;
}

@media screen and (min-width: 55.555556em) {
  #wrap {
    display: inline-block;
    justify-content: center;
  }
  h1 {
    font-size: 200%;
  }
}
